@import "../node_modules/bulma/sass/utilities/initial-variables";

$black: #1D1D1D;
$dark-grey: #363636;
$grey: #E4E4E4;
$light-grey: #F7F7F7;
$yellow: #f2d435;

$family-serif: "Helvetica", "Droid Sans", sans-serif;

$primary: $yellow;

$danger: $yellow;

$family-primary: $family-serif;
